[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
llvmlite = "==0.42.0"
numba = "==0.59.0"
numpy = "*"
pygame = "==2.5.2"

[dev-packages]

[requires]
python_version = "3.9"
